@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: rgb(110, 79, 150);
    --color-secondary: rgb(21, 130, 181);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #000;
    font-family: "Montserrat", Arial, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: 700;
}

a:hover {
    color: var(--color-primary);
    font-size: .9rem; 
}

h1 {
    font-family: "barlow condensed", Arial, sans-serif;
    font-size: 3rem;
    color: var(--color-secondary);

}
.navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    border-bottom: 3px solid var(--color-primary)

}

.left-nav img {
    width: 300px;
}

.right-nav {
    width: 500px; 
}

.right-nav ul {
    display: flex;
    justify-content: space-between;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 100%;
}

.mySlides {
    display: none
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 15px;
}

.slideshow-container img {
    border-radius: 8px;
    height: 550px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.dot-container {
    grid-row: 2;
    grid-column: 1;
}

.hero-container {
    grid-row: 1 span 2;
    grid-column: 2;
    padding: 15px; 

    
}

.hero-container h1 {
    text-align: center;
}